<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.booksystem.mapper.UserMapper">
    <insert id="insertUser" parameterType="User" >
        insert into user(username, password, role, nickname)
        values(#{username}, #{password}, #{role}, #{nickname})
    </insert>

<!--    List<User> getUserById(Integer uid);-->
    <insert id="getUserById">
        select * from user where uid = #{uid}
    </insert>
</mapper>